body {
  background-image: url(assets/background.png);
}

/* Style the tab */
.tab {
  overflow: hidden;
  width: 85%;
  padding: 6px 12px;
  border: 1px solid darkgray;
  background-color: aliceblue;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: whitesmoke;
  float: left;
  border: solid;
  border-color: black;
  border-width: 1px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Lucida Console", "Courier New", monospace;
  border-radius: 10px;
}

/* Change background color of buttons on hover */
button:hover {
  background-color: darkgray;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: lightgray;
}

/* Style the tab content */
.tabcontent {
  display: none;
  width: 85%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: gray;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

h1 {
  color: cyan;
  font-family: "Courier New", "Lucida Console", monospace;
}

h2 {
  color: blue;
  font-family: "Courier New", "Lucida Console", monospace;
}

h3 {
  color: aquamarine;
  font-family: "Courier New", "Lucida Console", monospace;
}

h4 {
  color: gainsboro;
  font-family: "Courier New", "Lucida Console", monospace;
}

#versionNumber {
  color: blanchedalmond;
  font-family: "Courier New", "Lucida Console", monospace;
}

p {
  color: black;
  font-family: "Ariel", "Verdana", sans-serif;
}

#resourceCountView {
  width: 12%;
  padding-left: 15px;
  float: right;
  background-color: lightgray;
}

aside {
  width: 15%;
  padding-left: 15px;
  float: left;
  background-color: gray;
}

button {
  background-color: lightgrey;
  border: 1px solid black;
  width: 16.66%;
  height: 10%;
  cursor: pointer;
  transition: 0.4s;
}

.resourceButton {
  width: 80%;
  margin-left: 20px;
}

.infoBox {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  border-color: black;
  background-color: lightslategray;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 40%;
  border-radius: 25px;
}

hr {
  color: lightcyan;
  height: 2px;
  background-color: lightcyan;
  width: 100%;
}

footer {
  color: aqua;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.settingButton {
  border-radius: 25%;
  width: 15%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  padding: 25px;
  font-size: 24px;

  background-color: azure;
  border-style: solid;
  border-color: black;
}

#resetWarning {
  font-style: bold;
  color: red;
}

.resourceNumber {
  margin-bottom: 8px;
  width: 80%;
}
